@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br>

<img src="~/Content/images/journey.jpg" class="img2">

<br>
<br>

<div class="jumbotron">
    <p>I spent the first 20 years of my life in Hawai’i. During this time and into my young adult life, I was able to travel the world quite a bit. I had a few careers and diverse experiences the eventually lead me to the realm of software start-ups. I knew immediately that I loved this industry that was full of intensity, creativity and excitement. Yet while I cherished my time as a quality assurance engineer, in March of 2015 I made a decision. I wanted to take my passion, creativity and talent to become a software developer.</p>
</div>

<div class="jumbotron">
    <p>With some incredible help from many amazing people, I was able to run a crowd fundraiser that raised $10,000 so that I could take two months off to attend a full-time software developer boot camp and start my new career. At <a href=www.seedpaths.com> SeedPaths</a> , I picked up skills like C#, ASP .NET, SQL, Visual Studio, MVC, JavaScript, jQuery, AngularJS, HTML5 & CSS3 and it wasn’t long before I was living my dream.</p>
</div>
<br>
<br>
<button class="btn" style="background-color:red" onclick="history.go(-1); return true;"><strong><< Go Back</strong></button>
