@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Title</h2>
    <h3>Keith Miller - Software Engineer</h3>
<br>
    <br>
<div class="homepageimg1">
    <img src="~/Content/images/whitetie.jpg">
</div>
<br>
<br>
    <div class="homepageimg2">
        <a href="/Home/About" class="btn btn-primary">Learn more about me >></a>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="row">
        <div class="col-md-4">
            <h3>See my LinkedIn page</h3>
            <br>
            <p><a class="btn btn-primary btn-lg" href="http://www.linkedin.com/in/keithalexmiller" target="_blank">LinkedIn >></a></p>
        </div>
        <div class="col-md-4">
            <h3>Following me on Twitter</h3>
            <br>
            <p><a class="btn btn-default btn-lg" href="https://twitter.com/KeithAlexMiller" target="_blank">Twitter >></a></p>
        </div>
        <div class="col-md-4">
            <h3>Check out my code</h3>
            <br>
            <p><a class="btn btn-danger btn-lg" href="http://www.github.com/keithalexmiller" target="_blank">GitHub >></a></p>
        </div>
    </div>
